.wrapper {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 17rem 1fr;
  align-items: flex-start;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 87.5% !important;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
