.sidebar {
  border-radius: 8px;
  background-color: var(--gray-800);
  overflow: hidden;
}

.sidebar .cover {
  height: 72px;
  width: 100%;
  object-fit: cover;
}

.sidebar .user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info .avatar {
  margin: calc(-1.875rem - 0.375rem) 0 1rem;
}

.user_info strong {
  color: var(--gray-100);
  line-height: 1.6rem;
}

.user_info span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6rem;
}

.user_info .edit_profile {
  width: 100%;
  padding: 1.5rem 2rem 2rem;
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
}

.edit_profile a {
  padding: 1rem 1.5rem;
  border: 1px solid var(--green-500);
  border-radius: 8px;
  background-color: transparent;
  color: var(--green-500);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  transition: all 0.1s;
}

.edit_profile a:hover {
  background-color: var(--green-500);
  color: var(--white);
}
